
@media (max-width: 375px){
  img.card-img-top{
    min-height:650px; 

  }
}


body{
	position: absolute;
	height:100%;
	width: 100%;
	margin: 0px;
}

.container-fluid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Samples{
	margin: 20px;
	height: 100px;
	justify-content: center;
}
.navbar{
	margin: 5px;
	padding: 0px;
}
/*
.btn-block{
	width: 380px;
}
*/

h1{
	text-align: center;
}
img.card-img-top{
	min-width: 150px;
	min-height: 240px;
	max-height: 400px;
	transition: all 1s;
}
img:hover{
	transform:scale(1.13);
}
.card{
	margin: 10px;
	padding: 0px;
}